body {
    color: red;
    max-width: auto;
    margin: 0;
    background:
    url(/assets/back1.png) bottom center no-repeat;
    /* url(/assets/bob.png) repeat; */
}
body {
    background-color: rgb(17, 11, 73);
  }

div.myphoto img {
    border-radius: 50%;
} 

div.aboutme {
  text-align: justify;
}

img.dark {
    filter: brightness(25%);
  }

img.dark50 {
  filter: brightness(50%);
}


div.carousel-inner div.carousel-item {
  width:100%;
  height: 500px !important;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

div.carousel-item div.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

div.carousel-caption p {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.move-up-100 {
  transform: translateY(-100px);
}

.espaco {
  height: 200px;
}

.textblackshadowblack{
  color: black;
  text-shadow: 2px 2px 5px #000000;
}

.textblackshadowwhite{
  color: black;
  text-shadow: 2px 2px 6px #ffffff, -2px -2px 8px #ffffff;
}
.textwhiteshadowblack{
  color: white;
  text-shadow: 2px 2px 1px #000000, 0 0 1px #000000;
}


.textwhiteshadowwhite{
  color: white;
  text-shadow: 3px 3px 10px #ffffff;
}

.bg-white {
  background-color: white;
}

#img-grass {

}

.black-text {
  color: black;
}

.row.about {
  margin-top: 12em;
}
